.main-container {
    width:1280px;
    font-family: Roboto;
    padding: 63px 98px 30px;
}


.logo {
    color: #000000;
    font-weight: 500;
    font-size: 100px;
    text-decoration: none;
    margin-bottom: 38px;
    display: inline-block;
} 

.span {
    color: #4BCAFF;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px ;
    /* padding: 6px 10px 6px; */
    border: 0;
    background: #35444F;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 24px;
    list-style-type: none;
}

.text-menu {
    display: block;
    color: #FFFFFF;
    border-left: 1px solid white;
    text-decoration: none;
    padding: 25px 35px ;
    
}

.text-menu:hover {
    background: #222F3A;
}

.right-border {
    border-right: 1px solid white;
}

/* *.text-menu:hover { 
    color: blueviolet;
}*/

.main-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.side-menu{
    width: 30%;
    display: flex;
    flex-direction:column;
    border: 1px solid #495863;
}

.side-menu-item{
    font-size: 27px;
    color: #485863;
    padding: 26px 0 26px 44px;
    text-decoration: none;
}

.side-menu-item:hover{
    color: #000000;
    padding-left: 75px;
    background: #DBDBDB;
    
   
}

.description {
    width: 60%;
}

.img-container {
    height: 529px;
    border: 1px solid gray;
}

.main-img {
    height: 100%;
    background: url(../images/img.png) no-repeat center;
    transition: transform .5s ease;
}


.img-container:hover .main-img {
    transform: scale(1.2);
}

.main-text{
    margin: 35px 0 35px ;
}

.bottom-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #63696E7A;
    padding: 0px 40px 0px 40px;
} 

.bottom-menu-text{
    display: flex;
    justify-content: flex-start;
    color: #0C1927;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
    padding-bottom: 13px;
    margin: 20px 10px 10px;
    font-size: 28px;
}

.bottom-menu-text:hover{
    /*justify-content: flex-start;*/
    color: #3181A6;
    font-size: 28px;
    border-bottom: 1px solid #3181A6;
}

.Copyright-©-2018{
    font-size: 24px;
}
   

.description {
    margin: 30px 67px;
    line-height: 1.5;
    text-align: center
}

.short-description {
    margin: 3% auto;
    text-align: center
}

.button {
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    padding: 18px 43px;
    border: 0;
    background:#FF0000;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin: 5% ;
}

.bottom-text{
    margin: 80px 105px 30px 0;
    text-align: right
}
    
    
